<!DOCTYPE html>

<title>New Events</title>

{% block body %}
    <h1>Create new Events</h1>

    {{ include('events_controller2/_form.html.twig') }}

    <a href="{{ path('app_events_controller2_index') }}">back to list</a>
{% endblock %}
