{% extends 'pages/Admin/admindashboard.html.twig' %}

{% block content %}
<div class="main">
    <div class="cardBox">
        <div class="card">

        

        </div>
    </div>
</div>
{% endblock %}


{% endblock %}
